@charset "utf-8";
/* CSS Document */
@keyframes grad{
	0%{background-position: left}
	100%{background-position: right}
}
@keyframes textgrad{
	0%{color: #ffffff}
	100%{color: #fff}
}
@keyframes textgrad2{
	0%{color: lightgreen}
	100%{color: greenyellow}
}

.{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.bg{
	background-image: linear-gradient(-45deg, #EE7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200%;
	animation: change 2s ease-in-out infinite;
}
.bg2{
	background-image: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
	background-size: 400%;
	animation: grad 2s infinite alternate;
}
.fg{
	animation: textgrad;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.fg2{
	animation: textgrad2;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

h1{
	font-size: 5 rem;
	color: #fff;
	letter-spacing: 1px;
	border: 3px solid #fff;
	position: top;
	top: 75%;
	left: 50%;
	right: 50%;
	padding: 2rem 1rem;
}
body {
	align-items: center;
	justify-content: center;
}
li {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	list-style: none;
	letter-spacing: 2.5px;
}
li:not(:last-child){
	margin-bottom: 15px;
}
li::before{
	content: "\2764";
	color: red;
	margin-right: 20px;
}
input[type=text]:focus {
	border: 3px solid #ffffff;
  }